@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-dark: red;
  --bg-light: yellow; */
}

body {
  font-family: var(--font-inter);
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.splide__arrow {
  background-color: transparent !important;
  border: 1px solid #2c9cf0 !important;
  border-radius: 0 !important;

  svg {
    fill: #2c9cf0 !important;
  }
}
.splide__arrow--prev {
  left: -40px !important;
}
.splide__arrow--next {
  right: -40px !important;
}
